@page "/"

<PageTitle>Hockey</PageTitle>

<h1>Välkommen till Team Broilers sida</h1>

<div class="col-md-12" >
<img class="img-responsive" src="https://ae01.alicdn.com/kf/H1b983c2602b24d238279afb5ef58ba9bi/Stainless-Steel-Hot-Dog-Rack-BBQ-Net-Skewers-Barbecue-Funny-Boy-Vertical-Sausage-Roaster-Stand-Picnic.jpg_q50.jpg" />
</div>
