@page "/"

<PageTitle>Hockey</PageTitle>

<h1>Välkommen till Team Broilers sida</h1>

<img class="img-responsive" src="https://images.recept.se/images/recipes/kycklingspett-i-whiskymarinad_3554.jpg?fit=crop&crop=focalpoint&auto=format&fp-x=0.5&fp-y=0.51709521815861&fp-z=1.0370832528683&w=800&h=570&auto=format" />
